body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181A2A;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #301B3F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    border-radius: 15px;
}

.cell.X {
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
}

.cell.O {
    color: #FF00FF;
    text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
}

.cell:hover {
    background-color: #3D2C5E;
}

.game-info {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #66FCF1;
    color: #181A2A;
    border-radius: 5px;
}

button:hover {
    background-color: #3D2C5E;
    color: #fff;
}
